:root {
  --bg: #f5e612;
  --card: #46f012;
  --accent: #06b6d4;
  --text: #080808;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: vasr(--bg);
  color: var(--text);
  line-height: 1.6;
}

header {
  background: var(--card);
  padding: 1rem;
  text-align: center;
}

header h1 {
  color: var(--accent);
}

nav ul {
  list-style: none;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: var(--text);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background 0.3s;
}

nav a:hover {
  background: var(--accent);
  color: rgb(120, 209, 18);
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  background: var(--card);
  padding: 1rem;
  border-radius: 10px;
}

#preview {
  margin-top: 1rem;
}

#preview img {
  max-width: 200px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid var(--accent);
}

footer {
  text-align: center;
  padding: 1rem;
  background: var(--card);
  margin-top: 2rem;
}
